body {
  padding     : 0;
  margin      : 0;
}                                                                                           
 
 
.cover img{
  position      : absolute;
  width         : 140px;
  height        : 140px;
  border-radius : 100%;
  left          : 45%;
  top           : 180px;
}
 
#first-block{
  min-height: 250px;
}
#second-block{
  height: 100%;  
  font-size: 50px;
  font-family: lato;
  text-align: center;
  padding-top: 80px;
}